<p class="guildlines_intro">
  Thank you for sharing your inspiration and energy with us!  While we have a lot of faith in your art, these "guildlines" are available to clarify our hopes and expectations.
</p>

<ul class="guildlines">
  <li>
    Disco is dancing, House is love, R&B is sex, and Techno is freedom.  Try to stay on the Techno side.
  </li>
  
  <li>
    It's great when the energy supports dancing.  It shouldn't feel like the music is strongly pushing us to dance.
  </li>
  
  <li>
    Some attributes of Techno we like include thoughtful, melodic, provocative, stimulating, and soothing.
  </li>
  
  <li>
    Please make an effort to facilitate the transition into the following DJ by understanding what type of sound they have.
  </li>
  
  <li>
    We love it if you record or allow your set to be recorded, so that it can help us learn about Techno.
  </li>
  
  <li>
    We love it if you allow an intern to capture details about the tracks you play, to stimulate our guests and help us study music.
  </li>
  
  <li>
    If you would like to have a Tarot reading while you perform, let us know!
  </li>
</ul>
