<%= image_tag asset_path('tarottechnologo.jpg') %>
<p>
  Tarot Techno is a fun event that aspires to be educational and also inspirational.
</p>
<p>
  We acknowledge, however, that growth is sometimes through darkness.
</p>

<p>
  The Tarot and Techno communities are among the friendliest I've found.  They are so loving that they can dip into tough love without experiencing dissonance or reaction.
</p>

<p>
  Each push towards positive growth is gentle and incremental.  We hope you can join us almost every month to see what awaits you.
</p>

<p>
  COMING TO BROOKLYN IN 2016
</p>

<p>
  <%= link_to 'http://facebook.com/tarottechno', 'http://facebook.com/tarottechno' %>
</p>
