<%= image_tag asset_path('tarottechnologo.jpg') %><br>
<p>
  Tarot Techno is a monthly inspirational event.
</p>

<p>
  This February, come on the <span class="large">2our of Thoth</span>: see four of our favorite spaces in Bushwick.<br>
  To recall the dates, start with multiples of 2: 4, 8, and 16.<br>
  2/4 &nbsp;&nbsp;&nbsp;&nbsp; at Terra Firma<br>
  2/8 (to be announced)<br>
  2/16 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at The Keep<br>
  2/24 (to be announced)<br>
</p>

<p>
  Growth means going through darkness.  These two art forms are good for that.<br>
  Each season you start as a seed planted underground, and gradually you can see light.
</p>

<p>
  The Tarot and Techno communities are welcoming and friendly.  You can come by yourself and you will meet people.
</p>

<p>
  The Tarot readings discuss your life.  The Techno music stimulates your thoughts.
</p>

<p>
  
</p>

<p>
  <%= link_to 'facebook.com<span class="white">/</span>tarottechno'.html_safe, 'http://facebook.com/tarottechno', :class => ['green', 'blue', 'purple', 'orange', 'red'].sample %>
</p>

<p>
  Mail List
  <%= text_field_tag :email, nil, :id => 'mail_list_email_address' %>
  <%= link_to "yes", '#darkness_wins!', :id => 'join_mail_list' %>
</p>
