<p>
  Thank you for sharing your energy and insight with us!  These "guildlines" are available to clarify our hopes and expectations.
</p>

<ul class="guildlines">
  <li>
    To encourage newcomers to try a reading, we offer rates that are probably lower than what you are used to.
  </li>
  
  <li>
    Each reading should be priced by a roll of a die.  The die should be rolled, either by the querent or the reader, after the reading is complete.
  </li>
  
  <li>
    You may choose which die to use: 6-sided, 8-sided, 12-sided, or 20-sided.
  </li>
  
  <li>
    We'll indicate which die you are using in the interface that querents use to sign up for readings.
  </li>
  
  <li>
    If you change your die selection during the evening, please update the system and complete readings for querents already enqueued with the die previously indicated.
  </li>
  
  <li>
    You are welcome to begin and end when you feel comfortable.  We suggest reading for 2.5 hours but obviously quality is more important than quantity.
  </li>
  
  <li>
    If you're interested in our expectations for reading length, our general expectation is 10-12 minutes.  If you have a different rhythm, that's fine, and we love offering our guests a variety of experiences.
  </li>
  
  <li>
    Our expectation is that you will make about $100 from readings.  We don't guarantee this, we don't generally pay readers an appearance fee, and we do not generally charge them a table fee.
  </li>
  
  <li>
    Tipping is expected, we try to make this clear and you are welcome to tactfully suggest it.  If you do happen to give a reading for a low price and do not also receive a tip, please be gracious.
  </li>
  
  <li>
    There is a system within this web site that enables querents to take notes about which cards came up, in which positions, and what the interpretations thereof were.  Although this layer is not part of Tarot's traditions, we encourage use of this system, so that querents can more clearly remember the wisdom they have learned.
  </li>
  
  <li>
    To facilitate this system, you are welcome to enter the deck(s) and spread(s) you use prior to the event, or during setup.
  </li>
  
  <li>
    You are also welcome to write your general interpretations of cards.  The system differentiates between interpretations that specify which position the card is in, and interpretations that just discuss the card's general meaning.
  </li>
  
  <li>
    We want to facilitate a long-term connection between you and the querents you meet at Tarot Techno.  After the event you are welcome to write a message to be included in our newsletter.  We can also provide you the email addresses of the querents you sat with.
  </li>
</ul>
