<p>
  <strong>Deck:</strong>
  <%= link_to @card.deck.name, @card.deck %>
</p>

<p>
  <%= @card.name %>
</p>

<p>
  <strong>Suit:</strong>
  <%= link_to @card.suit.name, @card.suit %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @card.ordering %>
</p>

