table {
  
  thead {
    font-family: 'Northstar Outline';
  }
  
  tr {
    td {
      font-family: 'KasseFLF';
      font-size: 0.86em;
      padding: 0.5em;
    }
  }
}

a {
  font-family: 'Gang Wolfik';
  font-size: 1.8em;
}
