// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lines_at_event {
  .reader_at_event_line {
    margin: 29px;
    
    .reader_name_on_line {
      font-size: 1.1em;
    }
    
    .enterable_line {
      font-size: 0.85em;
    }
  }
}

#line_shift {
  .line {
    margin: 20px;
  }
}