@font-face {
    font-family: 'Tribal Two';
    src: font-url('Tribal_Two.ttf');
}

@font-face {
    font-family: 'squared display';
    src: font-url('Squared_Display.ttf');
}

@font-face {
    font-family: 'North Star Outline';
    src: font-url('North_Star_Outline.ttf');
}

@font-face {
    font-family: 'KasseFLF';
    src: font-url('KasseFLF.ttf');
}

@font-face {
    font-family: 'Gang Wolfik';
    src: font-url('Gang_Wolfik.ttf');
}

@font-face {
  font-family: 'nk57';
  src: font-url('nk57-monospace-cd-lt.ttf');
}
