.existing_name_of_interpretation {
  font-family: 'Gang Wolfik';
  font-size: 2em;
}

.existing_text_of_interpretation {
  font-family: 'nk57';
}

#new_interpretation {
  textarea {
    width: 260px;
    height: 200px;
  }
}
