// Place all the styles related to the logistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: black;
  color: white;
  font-size: 2em;
  text-align: center;
  
  a.purple {
    color: #911190;
  }
  
  a.blue {
    color: #F47F2F;
  }
  
  a.orange {
    color: #2A51D1;
  }
  
  a.red {
    color: #991E43;
  }
  
  a.green {
    color: #37FD39;
  }
  
  a span.white {
    color: white;
  }
}
