// Place all the styles related to the readings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards_appearing_in_reading {
  font-size: 0.85em;

  .appearances_in_reading {
    .appearance {
      margin: 25px;
      
      div.interpretation {
        font-size: 0.84em;
      }
    }
  }

  .in_current_reading_position {
    padding: 15px;
    
    div.interpretation {
      font-size: 0.75em;
    }
  }

  label.reversal {
    font-size: 0.5em;
  }

  .new_interpretation input {
    vertical-align: top;
    padding: 3px;
  }

  #interpretation_description {
    height: 45px;
    width: 170px;
  }
}
