<p>I'm glad you signed up.  Let's have fun; the lasting fun that comes with taking care of ourselves.</p>

<p>You should confirm your account to maintain your access:</p>

<p><%= link_to 'Confirmed!', querent_confirmation_url(confirmation_token: @token) %></p>

<p>I hope this shindig helps you stay on track with your plans.  If not, that's ok, we'll try again.</p>

<p>ALL IS GROOVY IN BROOKLYN</p>

<p>- Mikey Microphone</p>

<p>http://tarottechno.com</p>