<p>
  <strong>Tradition:</strong>
  <%= @deck.tradition.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @deck.name %>
</p>

<%= link_to 'interfere', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
