<p>
  <%= @place.querent.moniker_or_name %> in line for 
  <%= @place.line.name %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @place.ordering %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @place.complete %>
</p>
